[Desktop Entry]
Name=Matlab2020b
Comment=Run Matlab 2020b desktop
Exec=matlab -desktop&
Terminal=false
Type=Application
StartupNotify=true
Categories=Development;IDE
